.margin-5 {
    margin: 5%;
}

.table-head {
    margin: auto;
    font-size: 1.5rem;
}

.input-group-text {
    padding: 5px;
    width: 60px;
}

#mtd, #new {
    font-size: 2rem;
    font-weight: bold;
}

.form-control {
    font-size: 1.8rem;
}

p {
    padding-left: 3px !important;
    padding-top: 5px !important;
}

.goal, .add, .mtd, .result {
	height: 55px;
}

.thead {
	margin: 0 auto;
}
